.home {
    font-family: Euclid;
    font-weight: 600;
}

.center {
    width: 700px;
    margin: 1rem auto;
}

.home-container h1 {
    font-family: 'Playfair Display', serif;
    font-size: 64px;
    text-align: center;
}

.home-container p {
    color: rgba(0, 0, 0, 0.7);
    margin-block: 3vh;
}

button {
    font-weight: 600;
    cursor: pointer;
    font-family: Euclid;

}

.hc-btns {
    justify-content: center;
    margin-block: 5vh;
}

.home-banner img {
    width: 100%;
}

.home-banner {
    width: 85%;
    margin: 1rem auto;
    margin-bottom: -4px;
}

hr {
    margin: 0 !important;
}

.partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    justify-content: space-between;
    padding: 2vh;

}

.partners p {
    font-size: larger;
    color: rgba(0, 0, 0, 0.7);
}

.partners-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vh;

}

.partners-img img {
    max-width: 10%;
}

.features {
    margin: 2rem 10rem auto;
}

.features-head {
    display: flex;
    justify-content: space-between;
}

.features-head-left {
    width: 50%;
    text-align: left;
}

.features-head-left h1 {
    font-family: 'Merriweather', serif;
    font-weight: 500;
}

.features-head-right {
    width: 38%;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
    line-height: 30px;
    font-size: larger;
}


.carousal {
    display: flex;
    position: relative;
    margin: 2rem 10rem auto;
}

.next-btn {
    position: absolute;
    width: 2%;
    height: 8%;
    right: 3vh;
    bottom: 50%;
    background: black;
    border-radius: 50%;
    padding: 1vh;
}

.usecase {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5rem 10rem auto;
    padding: 5vh;
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-align: left;
    font-size: smaller;
}

.usecase-text h1 {
    margin: 0;

}

.usecase-text p {
    margin-block: 10px;
    color: rgba(0, 0, 0, 0.5);
}

.usecase button {
    padding: 1vh;
    padding-inline: 2vh;
    border-radius: 1vh;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.devdocs {
    background-color: rgba(19, 23, 31, 1);
    color: white;
    position: relative;
    width: 90%;
    margin: 5rem auto;
    margin-bottom: 0;
}

.marq {
    position: absolute;
    top: 35%;
    width: 100%;
}

.devdocs img {
    z-index: 9;
    position: relative;
}

.devdocs-text h2 {
    font-family: 'Merriweather', serif;
    font-size: xxx-large;
    margin: 0;
}

.devdocs-text p {
    margin: 0;
}

.devdocs-text {
    margin-top: 5rem;
}

.devdocs-text .desc {
    width: 50%;
    text-align: center;
    margin: 1rem auto;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
}

.docs-btn {
    background-color: white;
    color: black;
    padding: 1vh;
    padding-inline: 2vh;
    border-radius: 1vh;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.webhooks {
    display: flex;
    flex-direction: column;
    margin: 5rem auto;
    justify-content: space-between;
    background-color: rgba(19, 23, 31, 1);
    color: white;
    margin-top: 0;
    width: 90%;
    margin-bottom: 0;
}

.wh-body {
    display: flex;
}

.wh {
    display: flex;
    flex-direction: column;
    width: 50vh;
    align-items: center;
    padding: 5vh;
}

.designed,
.payments {
    background-color: #e9edf5;
    padding-block: 5vh;
}

.designed-text {
    width: 30%;
    text-align: left;
    margin: 2rem 10rem auto;
}

.designed-text h2 {
    font-size: 45px;
    font-family: 'Merriweather', serif;
    margin: 0;
    font-weight: 100;
    width: 85vh;
}

.designed-text .desc {
    text-align: left;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    padding-block: 2vh;
}

.designed-imgs {
    display: flex;
    text-align: left;
    margin: 0rem 10rem auto;
    justify-content: space-between;
    margin-left: 10rem;
    margin-right: 5rem;
}

.di-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
}

.di-img img {
    width: 100%;
}

.di-img.img1 {
    background-image: url(' ../../Assets/img/frame1.png');
}

.di-img.img2 {
    background-image: url(' ../../Assets/img/frame-2.png');
}

.di-img.img3 {
    background-image: url(' ../../Assets/img/frame-4.png');
}

.di-img.img4 {
    background-image: url(' ../../Assets/img/frame-4.png');
}

.di-desc {
    max-width: 17vw;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
}

.global-buisness {
    margin-top: 10vh;
}

.gb-row {
    display: flex;
    flex-direction: column;
    padding: 1vh;
    justify-content: space-between;
    height: 35vh;
}

.gl-desc {
    color: rgba(0, 0, 0, 0.6);
    text-align: left;
}

.gb-table {
    display: flex;
    margin: 3rem 10rem auto;

}

.gb-row p {
    margin: 0;
    text-align: left;
}

.gb-row:nth-child(3) {
    padding-left: 6rem;
}

.payments {
    margin-top: 10vh;
    text-align: left;
    padding-inline: 10rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    position: relative;
}

.payments h1 {
    font-family: 'Merriweather', serif;
    font-size: 40px;
}

.payments p {
    color: rgba(0, 0, 0, 0.6);
}

.hom-footer img {
    width: 5%;
}

.hom-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5rem 10rem auto;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
}

/* .styles-module_carousel-arrow__26sRw {
    z-index: 1;
    width: 5vh;
    height: 5vh;
    border-radius: 3vh;
    background-color: black;
    position: relative;
    top: 50%;

} */

.globe-img {
    position: absolute;
    width: 36%;
    right: 0;
    bottom: 0;
    margin: 0rem 4rem auto;
}

.footer-menus {
    display: flex;
    justify-content: space-between;
    margin: 2rem 10rem auto;
    text-align: left;
    margin-bottom: 5vh;
}

.ft {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.ft a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 500;
    font-size: 14px;
}

.ft a:hover {
    color: black;
}

.join {
    display: flex;
    margin: 2rem 10rem auto;
    justify-content: space-between;
}

.join-block {
    display: flex;
    justify-content: space-between;
    background-color: rgb(237 245 255);
    width: 40%;
    padding-inline: 5vh;
    border-radius: 1vh;
}

.join-block:hover {
    cursor: pointer;
}

.social-media {
    display: flex;
    flex-direction: row !important;
    margin: 2rem 10rem auto;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 2vh;
}

.footer-hr {
    border: 1px solid rgba(0, 0, 0, 0.08);
}

.hom-footer h1 {
    width: 50%;
}

@media(max-width:767px) {
    * {
        margin: 0 !important;
    }

    .wh-body {
        flex-direction: column;
    }

    .designed-imgs {
        flex-direction: column;
    }

    /* .footer{
        display: none;
    } */
    .center {
        width: auto;
    }

    .usecase img {
        display: none;
    }

    .designed-text h2 {
        width: auto;
    }

    .divider,
    .footer-divider {
        display: none;
    }

    .btns {
        display: none;
    }

    .webhooks {
        width: auto;
    }

    .devdocs {
        width: auto;
        margin-top: 5vh !important;
        padding-top: 5vh;
    }

    .usecase {
        flex-direction: column;
        align-items: flex-start;
        gap: 3vh;
    }

    .home-container h1 {
        font-size: 40px;
        margin-block: 5vh !important;
    }

    .hc-btns {
        display: block;
        margin: 3vh !important;
    }

    .partners {
        margin: 2vh !important;
    }

    .carousal {
        display: none;
    }

    .features-head {
        flex-direction: column;
        margin: 2rem 2rem auto !important;
    }

    .features-head-left {
        width: auto;
        margin-block: 4vh !important;
    }

    .features-head-right {
        width: auto;
        margin-bottom: 4vh !important;
    }

    .usecase-text h2 {
        margin-bottom: 2vh !important;
    }

    .marq {
        top: 12%;
    }

    .features-head-left h1 {
        margin-top: 4vh !important;
    }

    .devdocs-text .desc {
        width: auto;
        margin: 1rem 2rem !important;
    }

    .devdocs-text h2 {
        margin-block: 4vh !important;
    }

    .devdocs-text p {
        margin-top: 2vh !important;
    }

    .docs-btn {
        margin-block: 4vh !important;
    }

    .webhooks .usecase {
        padding-block: 5vh !important;
    }

    .designed * {
        width: auto;
    }

    .designed {
        padding-inline: 4vh !important;
    }

    .di-desc {
        max-width: 100%;
    }

    .di p {
        margin-block: 1vh !important;
    }

    .di {
        margin-block: 3vh !important;
    }

    .designed-text {
        width: 100%;
    }

    .global-buisness {
        padding: 4vh;
        margin-bottom: 5vh !important;
    }

    .designed-text p {
        margin-bottom: 2vh !important;
    }

    .payments {
        padding: 3rem;
    }

    .payments p {
        margin-block: 3vh !important;
    }

    .payments img {
        display: none;
    }

    .hom-footer h1 {
        width: 100%;
        padding-block: 5vh
    }

    .hom-footer {
        margin-inline: 2vh !important;
        padding-block: 2vh !important;
    }

    .footer-menus {
        flex-wrap: wrap;
        width: 80%;
        justify-content: space-between;
        padding: 5vh;
    }

    .join {
        flex-direction: column;
        align-items: center;
    }
    .social-media {
        flex-wrap: wrap;
    }
    .ft{
        padding-block: 5vh;
        padding-inline: 2vh;
    }
    .tech{
        padding: 2vh;
    }
    .join-block{
        width: 80%;
        padding-block: 2vh;
        margin-bottom: 4vh !important;
    }
}